<div class="modal fade" id="edit_note" role="dialog">
  <%= simple_form_for(@note) do |f| %>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class="form-group">
                <%= f.input :name, label: 'Name', placeholder: "Entrer le Nom de frais", class: 'form-control'%>
              </div>


              <div class="form-group">
                <%= f.input :total, label: 'Montant', placeholder: "Entrer le Montant", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.input :created_at, as: :date, html5: true, label: 'Date', placeholder: "Entrer la date", class: 'form-control' %>
              </div>

              <div class="col-12">
                <%= f.object.documment.filename %>
                <%= f.file_field :documment %>
                <h4><span class="badge badge-danger ml-1"></span></h4>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer d-flex align-items-center justify-content-between">
          <%= f.submit class: 'btn btn-success' %>
          <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Annuler</button></div>
      </div>
    </div>

  <% end %>

  <%=  link_to "notes index", notes_path %>
</div>
