
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
          <h4 class="page-title">Gestion des Notes des frais</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">

              <div class="col-lg-8">
                <%= form_tag notes_path, :method => 'get',  class: "form-inline" do %>
                  <div class="form-group">
                    <% if params[:search].present? %>
                      <%= text_field_tag :search,nil, class:"form-control", value:"#{params[:search]}" %>
                    <% else %>
                      <%= text_field_tag :search,nil, class:"form-control", placeholder:"Trouvez une commande ... " %>
                    <% end %>
                    <button type="submit" class="btn btn-warning waves-effect waves-light ml-1"><i class="mdi mdi-magnify mr-1"></i> Chercher !</button>
                  </div>
                <% end %>
              </div>

              <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                <div class="col-lg-4 d-flex justify-content-end">
                  <%= link_to '#new_note', class: "btn btn-secondary waves-effect waves-light mr-3", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_note'  do %>
                    <i class="mdi mdi-plus mr-1"> Nouveau</i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="row mb-3">
              <div class="table-responsive">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-pagination="true"
                       data-buttons-class="xs btn-light"
                       class="table-borderless"
                       data-page-size=<%= (@setting.number_items_of_page).to_s %>
                >
                  <thead class="thead-light">
                  <tr>
                    <th data-field="name">Name</th>
                    <th data-fied="user_id">collaborateur</th>
                    <th data-field="total">Montant</th>
                    <th data-field="cost_id">Type de Frais</th>
                    <th data-field="created_at">Date</th>
                    <th data-field="documment">
                      pièce jointe</th>
                    <th class="action">Actions</th>
                  </tr>

                  </thead>
                  <tbody>
                  <% @notes.each do |note| %>
                    <tr>
                      <td>
                        <%= note.name %>
                      </td>

                      <td>
                        <%= note.user.first_name %>
                        <%= note.user.last_name %>
                      </td>

                      <td>
                        <%= note.total %>
                      </td>

                      <td>
                        <%= note.cost.name %>
                      </td>

                      <td>
                        <%= note.created_at.strftime('%d/%m/%Y')  %>
                      </td>

                      <td>
                        <% if note.documment.attached?  %>
                          <%= link_to 'Voir pdf', rails_blob_path(note.documment, disposition: "attachment") %>
                        <% end %>
                      </td>

                      <td class="action">
                        <%= link_to note_path(note), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-eye"></i>
                        <% end %>

                        <%= link_to  edit_note_path(note), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-border-color"></i>
                        <% end %>

                        <%= link_to note, method: :delete, data: { confirm: 'Etes vous sur?', title: 'Confirme la suppression?' }, title: "Suprimer", class: "action-icon" do %>
                          <i class="mdi mdi-delete"></i>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='remote-container'></div>
  </div>
</div><!-- /.modal -->



<div class="modal fade" id="new_note" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Ajout des Notes des frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <%= simple_form_for(Note.new, as: :note, method: :post, html: { class: "form-horizontal" }) do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-group">
            <%= f.input :name, label: 'Name', placeholder: "Entrer le nom", class: 'form-control' %>
          </div>

          <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
            <div class="form-group mb-3">
              <%= f.input :user_id, label: "Collaborateurs", input_html: { id: 'user', :style => "display:none;" } %>
              <select data-toggle="select2" onchange='set_user_id();'>
                <option></option>
                <optgroup label="Collaborateurs">
                  <%= @users.each do |user| %>
                    <option><%= user.first_name %> <%= user.last_name %></option>
                  <% end %>
                </optgroup>
              </select>
            </div>
          <% end %>

          <div class="form-group mb-3">
            <%= f.input :cost_id, label: "Les Frais", input_html: { id: 'cost', :style => "display:none;" } %>
            <select class="form-control select2-multiple" data-toggle="select2" multiple="multiple" onchange='set_cost_id();'>
              <optgroup label="Gestionnaire fonctionnel">
                <% if @costs %>
                  <%= @costs.each do |cost| %>
                    <option><%= cost.name %></option>
                  <% end %>
                <% end %>
              </optgroup>
            </select>
          </div>


          <div class="form-group">
            <%= f.input :total, label: 'Montant', placeholder: "Entrer le Montant", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :created_at, as: :date, html5: true, label: 'Date', placeholder: "Entrer la date", class: 'form-control' %>
          </div>

          <div class="col-12">
            <% if f.object.documment  %>
              <%= f.object.documment.filename %>
              <%= f.file_field :documment %>
              <h4><span class="badge badge-danger ml-1"></span></h4>
            <% else %>
              NaN
            <% end %>
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-between">
          <div>
            <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
          </div>
          <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
        </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div><!-- /.modal -->

<script>
    function set_user_id(){

        var user_email = document.getElementsByClassName("select2")[0].innerText;

        console.log(user_email);

        var url = '<%= domainename + 'finduserid/' %>';
        $.when(
            $.getJSON(url+user_email)
        ).done( function(json) {

            $('#user').val(json);

        });

    }

 function set_cost_id() {
     var cost = document.getElementsByClassName("select2-selection select2-selection--multiple")[0].innerText.slice(1);
     console.log(cost);

     if(cost == "") {
         $('#cost').val("");
     }
     else {
         var url = '<%= domainename + 'findcostid/' %>';
         $.when(
             $.getJSON(url+cost)
         ).done( function(json) {

             $('#cost').val(json);

         });
     }
 }

</script>