
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
          <h4 class="page-title">Gestion des Notes des Frais</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <div class="bg-light d-flex justify-content-between mb-2">
            <div class="text-sm-center form-inline">
              <div class="form-group mr-2">
                <%= link_to '#new_note', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_note'  do %>
                  <i class="mdi mdi-plus mr-1"> Nouveau Note </i>
                <% end %>
              </div>
              <div class="form-group">
                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
              </div>
            </div>
          </div>
          <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
            <thead>
            <tr>
              <th data-sort-initial="true" data-toggle="true">Nom</th>
              <th data-hide="phone, tablet">collaborateur</th>
              <th data-hide="phone, tablet">Montant</th>
              <th data-hide="phone, tablet">Type de Categories</th>
              <th data-hide="phone, tablet">Date de Facture</th>
              <th data-hide="phone, tablet">Pièce jointe</th>
              <th data-sort-initial="true" data-toggle="true">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @notes.each do |note| %>
              <tr>
                <td>  <%= note.name %></td>
                <td> <% if note.user %>
                    <%= note.user.first_name %>
                    <%= note.user.last_name %>
                  <% end %></td>
                <td>  <%= note.total %>  Dh</td>
                <td>  <% if note.cost %>
                    <%= note.cost.name %>
                  <% end %></td>
                <td><%= note.facture_date.strftime('%d/%m/%Y')  %></td>
                <td> <% if note.documment.attached?  %>
                    <%= link_to 'Voir pdf', rails_blob_path(note.documment, disposition: "attachment") %>
                  <% else %>
                    aucun document joint
                  <% end %></td>
                <td class="action">
                  <%= link_to note_path(note), remote: true, title: "Voir", class: "action-icon" do %>
                    <i class="mdi mdi-eye"></i>
                  <% end %>
                  <%= link_to edit_note_path(note), remote: true, title: "Modifier", class: "action-icon" do %>
                    <i class="mdi mdi-border-color"></i>
                  <% end %>
                  <%= link_to note, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                    <i class="mdi mdi-delete"></i>
                  <% end %>

                </td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr class="active">
              <td colspan="8">
                <div class="text-right">
                  <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                </div>
                <%= form_tag notes_path, :method => 'get',  class: "form-inline" do %>
                  <% if @notes.count > 0 %>
                    <div class="form-group">
                      <%= link_to 'Exporter', notes_path( format: :xlsx), class:"btn btn-warning waves-effect waves-light ml-1" %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div id='remote-container'></div>
  </div>
</div><!-- /.modal -->



<div class="modal fade" id="new_note" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Ajout des Notes des Frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <%= simple_form_for(Note.new, as: :note, method: :post, html: { class: "form-horizontal" }) do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-group">
            <%= f.input :name, label: 'Name', placeholder: "Entrer le nom", class: 'form-control' %>
          </div>

          <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
            <div class="form-group mb-3">
              <%= f.input :user_id, label: "Collaborateurs", input_html: { id: 'user', :style => "display:none;" }%>
              <select data-toggle="select2" onchange='find_projects();'>
                <option></option>
                <optgroup label="Collaborateurs">
                  <%= @users.each do |user| %>
                    <option><%= user.first_name %> <%= user.last_name %></option>
                  <% end %>
                </optgroup>
              </select>
            </div>
          <% end %>

          <div class="form-group mb-3">
            <%= f.input :cost_id, label: "Les Categories", input_html: { id: 'cost', :style => "display:none;" } %>
            <select class="form-control select2-multiple" data-toggle="select2" multiple="multiple" onchange='set_cost_id();'>
              <optgroup label="Les Frais">
                <% if @costs %>
                  <%= @costs.each do |cost| %>
                    <option><%= cost.name %></option>
                  <% end %>
                <% end %>
              </optgroup>
            </select>
          </div>

          <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
            <div class="form-group mb-3">
              <%= f.input :project_id, label: "Les Projets", input_html: { id: 'project', :style => "display:none;" } %>
              <select id="projects_select" class="form-control" onchange="set_project_id();">
                <option disabled selected value> -- select an option -- </option>
              </select>
            </div>
          <% else %>
            <%= f.association :project, label: "projet", label_method: :name, collection: @user_projects, value_method: :id, class: 'form-control', include_blank: false %>
          <% end %>



          <%#= f.association :project, label: "projet", label_method: :name, collection: Project.all, value_method: :id, class: 'form-control', include_blank: false %>


          <div class="form-group">
            <%= f.input :total, label: 'Montant', placeholder: "Entrer le Montant", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :facture_date, as: :date, html5: true, label: 'Date', placeholder: "Entrer la date", class: 'form-control' %>
          </div>

          <div class="col-12">
            <% if f.object.documment  %>
              <%= f.object.documment.filename %>
              <%= f.file_field :documment %>
              <h4><span class="badge badge-danger ml-1"></span></h4>
            <% else %>
              NaN
            <% end %>
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-between">
          <div>
            <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
          </div>
          <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
        </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<script>
  function find_projects() {

        var user_name = document.getElementsByClassName("select2")[0].innerText;

        console.log(user_name);

        var url = '<%= domainename + 'projects-by-user/' %>';
        $.when(
            $.getJSON(url+user_name)
        ).done( function(json) {
            $('#user').val(json.user_id)
            $('#projects_select').empty();
            $('#projects_select')
                .append(`<option disabled selected value> -- select an option -- </option>`);
            for (var index = 0; index < json.projects.length; index++) {
                $('#projects_select')
                    .append(`<option value="${json.projects[index]}">
                                         ${json.projects[index]}
                                    </option>`);
            }
            console.log(json.projects)
        });
    }
  function set_cost_id() {
     var cost = document.getElementsByClassName("select2-selection select2-selection--multiple")[0].innerText.slice(1);
     console.log(cost);

     if(cost == "") {
         $('#cost').val("");
     }
     else {
         var url = '<%= domainename + 'findcostid/' %>';
         $.when(
             $.getJSON(url+cost)
         ).done( function(json) {
             $('#cost').val(json);
         });
     }

 }

  function set_project_id() {
      var project_name = document.getElementById("projects_select");
      var value = project_name.value
      console.log(value);
      var url = '<%= domainename + 'findprojectid/' %>';
      $.when(
          $.getJSON(url+value)
      ).done( function(json) {
          $('#project').val(json);
          console.log(json)
      });
  }

</script>