
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
          <h4 class="page-title">Mes Notes des Frais</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
            </div>
            <div class="row mb-3">
              <div class="table-responsive">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-pagination="true"
                       data-buttons-class="xs btn-light"
                       class="table-borderless"
                       data-page-size=<%= (@setting.number_items_of_page).to_s %>
                >
                  <thead class="thead-light">
                  <tr>
                    <th data-field="name">Name</th>
                    <th data-field="total">Montant</th>
                    <th data-field="cost_id">Type de Categories</th>
                    <th data-field="facture_date">Date de Facture</th>
                    <th data-field="documment">
                      Pièce jointe</th>
                    <th class="action">Actions</th>
                  </tr>

                  </thead>
                  <tbody>
                  <% @notes.each do |note| %>
                    <tr>
                      <td>
                        <%= note.name %>
                      </td>

                      <td>
                        <%= note.total %>  Dh
                      </td>

                      <td>
                        <% if note.cost %>
                          <%= note.cost.name %>
                        <% end %>
                      </td>

                      <td>
                        <%= note.facture_date.strftime('%d/%m/%Y')  %>
                      </td>

                      <td>
                        <% if note.documment.attached?  %>
                          <%= link_to 'Voir pdf', rails_blob_path(note.documment, disposition: "attachment") %>
                          <% else %>
                           aucun document joint
                        <% end %>
                      </td>

                      <td class="action">
                        <%= link_to note_path(note), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-eye"></i>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='remote-container'></div>
  </div>
</div>