<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">Demandes d'attestations</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Liste des demandes d'attestations</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 


        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="bg-light d-flex justify-content-between mb-2">
                        <div class="text-sm-center form-inline">
                            <div class="form-group mr-2">
                              <%= link_to '#new_request', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_request'  do %>
                                <i class="mdi mdi-plus"> Nouvelle demande</i>
                              <% end %>
                              <div class="form-group ml-2">
                                <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                              </div>
                            </div>

                        </div>
                    </div>
                  <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                      <th data-sort-initial="true" data-toggle="true">Nom complet</th>
                      <th>Type d'attestation</th>
                      <th data-hide="phone, tablet">Date du demande</th>
                      <th data-hide="phone, tablet">Statut</th>
                      <th data-hide="phone, tablet">Attestation</th>

                      <th data-hide="phone, tablet">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @certificate_requests_administration.each do |certificate_request| %>
                      <tr>
                        <td> <%= certificate_request.user.first_name %> <%= certificate_request.user.last_name %></td>
                        <td><%= certificate_request.template_attestation.name %></td>
                        <td><%= certificate_request.date_signature %></td>
                        <td><% if certificate_request.created? %>
                            <div class="badge font-14 badge badge-warning p-1">Nouvelle demande</div>
                          <% elsif certificate_request.valide? %>
                            <div class="badge font-14 badge badge-success p-1">Demande traité</div>
                          <% elsif certificate_request.invalide? %>
                            <div class="badge font-14 badge badge-danger p-1">Demande refusé</div>
                          <% end %>
                        </td>
                        <td><% if certificate_request.certificate.attached? %>
                            <%= link_to 'Télécharger pdf', rails_blob_path(certificate_request.certificate, disposition: "attachment") %>
                          <% end %>
                        </td>
                        <td>
                          <% if certificate_request.created? %>
                            <%= link_to edit_certificate_request_path(certificate_request), remote: true, title: "Modifier", class: "action-icon" do %>
                              <i class="mdi mdi-border-color"></i>
                            <% end %>
                            <%= link_to validate_certificate_path(certificate_request), title: "Valider", data: { confirm: 'Etes vous sur?', title: 'Confirme la validation?' }, class: "action-icon" do %>
                              <i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i>
                            <% end %>
                            <%= link_to certificate_request, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                              <i class="mdi mdi-delete"></i>
                            <% end %>
                            <%= link_to pre_refus_certificate_path(certificate_request), title: "refuser l'attestation", remote: true, class: "action-icon" do %>
                              <i class="mdi mdi-close-octagon"></i>
                            <% end %>
                            <%= link_to print_attestation_path(certificate_request, format: 'pdf'), title: "Imprimer", class: "action-icon" do %>
                              <i class="mdi mdi-printer"></i>
                            <% end %>
                          <% elsif certificate_request.valide? %>
                            <%= link_to pre_certificate_path(certificate_request), title: "modifier l'attestation", remote: true, class: "action-icon" do %>
                              <i class="mdi mdi-file-edit"></i>
                            <% end %>
                            <%= link_to print_attestation_path(certificate_request, format: 'pdf'), title: "Imprimer", class: "action-icon" do %>
                              <i class="mdi mdi-printer"></i>
                            <% end %>
                          <% else %>

                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                      <td colspan="6">
                        <div class="text-right">
                          <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </div>
</div> <!-- content -->

<!--  Modal content for the Large example -->
<div class="modal fade" id="new_request" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Nouvelle demande</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(CertificateRequest.new, as: :certificate_request, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">

                    <div class="form-group mb-3">
                      <%= f.association :template_attestation, label: "Type d'attestation", label_method: :name, collection: TemplateAttestation.all.order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: false %>
                    </div>       
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='remote-container'></div>

