<!-- Modal -->
<div class="modal fade" id="export_autorization" role="dialog">
    <%= form_tag export_authorizations_path(format: :xlsx), :method => 'get' do %>
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="myLargeModalLabel">Filtre du rapport</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <%= label_tag "Date d'authorisation" %>
                        <%= date_field_tag :date_authorization, class:"form-control" %>
                    </div>
                    <div class="col-6">
                        <%= label_tag 'Opérateur Date' %>
                        <%= select_tag :oppeateur_date, options_for_select(['Supérieure que','Inférieure que','Égale']), class:"form-control" %>
                    </div> 
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <%= label_tag "Statut des autorisations" %>
                        <%= select_tag :status_authorization, options_for_select(['Tous', 'Enregisté','En cours','Soumis','Validé','Refusé']), class:"form-control" %>
                    </div> 
              
                    <div class="col-12">
                        <%= label_tag "Méthode de récuperation" %>
                        <%= select_tag :recovery_method, options_for_select(['Tous', 'Répartition des heures sur les autres jours travaillés de la semaine', 'Retrancher de mon solde de congé']), class:"form-control" %> 
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-raised btn-success"> Rapport</button>
            </div>
        </div>
      </div>
    <% end %>
</div>
 



