<!-- Modal -->
<div class="modal fade" id="show_autorization" role="dialog">
    <%= simple_form_for @autorization do |f| %>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Détail d'autorisation <%= @autorization.date %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            Date : <%= @autorization.date %>
                        </div>
                        <div class="form-group">
                            Collaborateur : <%= @autorization.user.first_name %> <%= @autorization.user.last_name %>
                        </div>
                        <div class="form-group">
                            Heur de début : <%= @autorization.start_hour %>
                        </div>
                        <div class="form-group">
                            Heur de fin : <%= @autorization.end_hour %>
                        </div>
                         <div class="form-group">
                            Heures prise : <%= @autorization.time_taken %>
                        </div>
                        <div class="form-group">
                            Raison : <%= @autorization.comment %>
                        </div>
                        <div class="form-group">
                            Historique de recouvrement: <br>
                            method de recouverement :  <%= @autorization.recovery_method %> <br>
                            <% @autorization.history.each do |h| %>
                                <%= h %> <br>
                            <% end %>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
      </div>
    <% end %>
</div>