<% provide(:title, 'additional_hours') %>

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">Autorisations</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Mes autorisations</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        
                        
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle mb-2 mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filtrer par status)
                                    </button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item" href="<%#= additional_hours_administration_path() %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-green"></i>Tous</a>
                                        <a class="dropdown-item" href="<%#= additional_hours_administration_path(additional_hour_type: 'HSJO') %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-green"></i>HSJO</a>
                                        <a class="dropdown-item" href="<%#= additional_hours_administration_path(additional_hour_type: 'HSJFT') %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-danger"></i>HSJFT</a>
                                    </div>
                                </div> 
                            </div>

                            <div class="col-lg-4">     
                                <%= link_to '#new_authorization_administration', class: "btn btn-secondary waves-effect waves-light ml-3", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_authorization_administration'  do %>
                                    <i class="mdi mdi-plus mr-1">Demmande d'autorisations</i>
                                <% end %>
                            </div>

                          
                            <div class="col-4">
                                <div class="text-right">
                                    <h5 class="text-muted mb-1 text-truncate">Votre solde des heures sup des jours fériés: <span data-plugin="counterup"><%= @balance_open_additional_hour_off_days %></span></h5>
                                </div>
                            </div>
                           
                           
                        </div>

                        <div class="table-responsive">
                            <table data-toggle="table"
                                    data-show-columns="false"
                                    data-page-list="[5, 10, 20]"
                                    data-page-size=<%= (@setting.number_items_of_page).to_s %>
                                    data-buttons-class="xs btn-light"
                                    data-pagination="true" class="table-borderless">
                                <thead class="thead-light">
                                    <tr>
                                        <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                                            <th data-field="collaborator">Collaborateurs</th>
                                        <% end %>
                                        <th data-field="date">Date de sortie</th>
                                        <th data-field="start_hour">Heure de début</th>
                                        <th data-field="end_hour">Heure de fin</th>
                                        <th data-field="status">Statut</th>
                                        <th style="width: 125px;">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @autorizations.each do |autorization| %>
                                        <tr> 
                                            <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                                                <td><%= "#{autorization.user.last_name} #{autorization.user.first_name}" %></td>
                                            <% end %>
                                            <td><%= autorization.date %></td>
                                            <td><%= autorization.start_hour %></td>
                                             <td><%= autorization.end_hour %></td>
                                            <td>
                                                <% if autorization.created? %>
                                                  <div class="badge font-14 badge badge-info p-1">Enregisté</div>
                                                <% elsif autorization.soumis? %> 
                                                    <div class="badge font-14 badge badge-warning p-1">Soumis</div>  
                                                <% elsif autorization.aprouved? %> 
                                                    <div class="badge font-14 badge badge-success p-1">Validé</div>   
                                                <% elsif autorization.encours? %> 
                                                    <div class="badge font-14 badge badge-pink p-1">En cours</div>    
                                                <% end %>
                                            </td>
                                            <td>
                                                <%= link_to autorization_path(autorization), remote: true, class: "action-icon" do %>
                                                    <i class="mdi mdi-eye"></i>
                                                <% end %>

                                                <% if autorization.created? %>
                                                    <%= link_to edit_autorization_path(autorization), remote: true, class: "action-icon" do %>
                                                        <i class="mdi mdi-border-color"></i>
                                                    <% end %>

                                                    <%= link_to soumettre_autorization_path(autorization), data: { confirm: 'Etes vous sur?',  title: 'Confirme la soumission?' }, title: "Soumettre", class: "action-icon" do %>
                                                        <i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i>
                                                    <% end %>

                                                    <%= link_to autorization, method: :delete, data: { confirm: 'Etes vous sur?', title: 'Confirme la suppression?' }, title: "Suprimer", class: "action-icon" do %>
                                                            <i class="mdi mdi-delete"></i>
                                                    <% end %> 

                                                <% end %>
                                            </td>                                             
                                        </tr> 
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
    </div>
    <!-- end row -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    &copy; Copyright Alithya - <script>document.write(new Date().getFullYear())</script> 
                </div>
            </div>
        </div>
    </footer> 
    <div id='remote-container'></div>
</div> <!-- content -->

<div class="modal fade" id="new_authorization_administration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Demande d'autorisation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(Autorization.new, as: :autorization, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">

                  
                    <%= f.input :user_id, label: false, input_html: { id: 'user_id', value: current_user.id, :style => "display:none;" } %>
                 
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-12">
                                <%= f.input :date, label: 'Date de sortie', value: DateTime.strptime("1448607600",'%s'), as: :date ,html5: true, placeholder: "Entrer la date de début d'autorisation", class: 'form-control' %>
                            </div>
                       </div>
                   </div>
 
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-8">
                                 <%= f.input :start_hour, label: 'Heure de début', as: :select, collection: (['8:00','9:00','10:00','11:00','12:00','14:00','15:00','16:00','17:00','18:00']), :selected => '8:00', html5: true, placeholder: "Entrer l'heur de début", input_html: { id: 'hour_end', onchange:'reloadHourDuration();' }, class: 'form-control' %>
                            </div>
                            <div class="col-4">
                                <%= f.input :end_hour, label: 'Heure de reprise', as: :select, collection: (['8:00','9:00','10:00','11:00','12:00','14:00','15:00','16:00','17:00','18:00']), :selected => '8:00', html5: true, placeholder: "Entrer l'heur de fin", input_html: { id: 'hour_end', onchange:'reloadHourDuration();' }, class: 'form-control' %>
                            </div>
                             <div class="col-12">
                                <%= f.input :comment, label: 'Motif', class: 'form-control' %>
                            </div>
                            <div class="col-12">
                                <h4><span class="badge badge-danger ml-1" id="dr"></span><h4>
                            </div>
                            <div class="col-12">
                               <h4><span class="badge badge-danger ml-1 valid_hours"></span><h4>
                            </div>
                        </div>
                    </div>
                                       
                </div>

                <div class="modal-footer">
                    <div id="submit_button">
                       <%= f.button :submit, 'Confirmer', class: 'btn btn-raised btn-success' %>
                    </div> 
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<script>
   
    function yesnoCheck(that) {

        var period = document.getElementById("period_hour_sup_selected").value;
        id_additional_hour_type = document.getElementById("type_additional_hour").value

        console.log(period);
        console.log(id_additional_hour_type);

        if (id_additional_hour_type == 2) {
            document.getElementById("offs").style.display = "none";
            var url = '<%= domainename + 'days_of_input_form/' %>';
        
                $.when(
                    $.getJSON(url+period)
                ).done( function(json) {
                
                    const weekday = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"];
                    
                    json.forEach(d => {
                       var myDate = new Date(d);
                       let day = weekday[myDate.getDay()];
                       
                        if (day == "monday"){
                            $('#monday_label').text("Lundi : " + d);
                            document.getElementById("monday").style.display = "block";
                        } else if (day == "tuesday"){
                            $('#tuesday_label').text("Mardi : " + d);
                            document.getElementById("tuesday").style.display = "block";
                        } else if (day == "wednesday"){
                            $('#wednesday_label').text("Mercredi : " + d);
                            document.getElementById("wednesday").style.display = "block";
                        } else if (day == "thursday"){
                            $('#thursday_label').text("Jeudi : " + d);
                            document.getElementById("thursday").style.display = "block";
                        } else if (day == "friday"){
                            $('#friday_label').text("Vendredi : " + d);
                            document.getElementById("friday").style.display = "block";
                        } else if (day == "saturday"){
                            $('#saturday_label').text("Samedi : " + d);
                            document.getElementById("saturday").style.display = "block";
                        } else if (day == "sunday"){
                            $('#sunday_label').text("Dimanche : " + d);
                            document.getElementById("sunday").style.display = "block";
                        }

                    });
                    
                }); 
        } else {
            document.getElementById("monday").style.display = "none";
            document.getElementById("tuesday").style.display = "none";
            document.getElementById("wednesday").style.display = "none";
            document.getElementById("thursday").style.display = "none";
            document.getElementById("friday").style.display = "none";
            document.getElementById("saturday").style.display = "none";
            document.getElementById("sunday").style.display = "none";
            document.getElementById("offs").style.display = "block";
        }   
       
    }

    function yesnoCheckPeriod(that) {

        var date = document.getElementById("date").value;

        console.log(date)
       

        if (date != "") {
            document.getElementById("fileds_none").style.display = "block";
            document.getElementById("submit_none").style.display = "block";
        } else {
            document.getElementById("fileds_none").style.display = "none";
            document.getElementById("submit_none").style.display = "none";   
        }   
       
    }

    function get_total() {

        var monday_quantity = document.getElementById("monday_quantity").value;
        var tuesday_quantity = document.getElementById("tuesday_quantity").value;
        var wednesday_quantity = document.getElementById("wednesday_quantity").value;
        var thursday_quantity = document.getElementById("thursday_quantity").value;
        var friday_quantity = document.getElementById("friday_quantity").value;
        var saturday_quantity = document.getElementById("saturday_quantity").value;
        var sunday_quantity = document.getElementById("sunday_quantity").value;
       
        if (monday_quantity == "") monday_quantity = 0;
        if (tuesday_quantity == "") tuesday_quantity = 0;
        if (wednesday_quantity == "") wednesday_quantity = 0;
        if (thursday_quantity == "") thursday_quantity = 0;
        if (friday_quantity == "") friday_quantity = 0;
        if (saturday_quantity == "") saturday_quantity = 0;
        if (sunday_quantity == "") sunday_quantity = 0;

        var total = document.getElementById("total_quantity").value;
        if (total == "") total = 0;

        document.getElementById("total_quantity").value = parseInt(monday_quantity) + parseInt(tuesday_quantity) + parseInt(wednesday_quantity) + parseInt(thursday_quantity) + parseInt(friday_quantity) + parseInt(saturday_quantity) + parseInt(sunday_quantity);
       
    }

    function reloadHourDuration() {
        var start_date = document.getElementById("start_date").value;
        var end_date = document.getElementById("end_date").value;
        var hour_start = document.getElementById("hour_start").value;
        var hour_end = document.getElementById("hour_end").value;
        var user_id = document.getElementById("user_id").value;
        var url = '<%= domainename + 'duration_hour_taken/' %>';

        console.log("user_id" + user_id);
        $.when(
            $.getJSON(url+user_id+'/'+start_date+'/'+hour_start+'/'+end_date+'/'+hour_end)
        ).done( function(json) {

            if(json.furlough__hour_duration >= 0 ) {
                    $('#dr').text("Vous avez " + json.furlough__hour_duration + " heure(s) dans cette période de congé");
            }else{
                    $('#dr').text("la date de début de congé ne doit pas étre supérieure à la date de fin");
            }

            if(json.furlough__hour_duration > json.results.hour_valide_in_period){
                if(json.results.hour_valide_in_period > 0){
                    $('.valid_hours').text("Sur cette periode demmandé vous n'avez droit qu'à " + json.results.hour_valide_in_period + " h");
                }else{
                    $('.valid_hours').text("Vous n'avez pas d'heures sup sur la période demmandé");
                }

                document.getElementById("submit_button").style.display = "none";   
            }else{
                $('.valid_hours').text("");
                document.getElementById("submit_button").style.display = "block";  
            }


        }); 

    }

</script>

