
<%= simple_form_for(@user_conf) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ref %>
    <%= f.association :user, label_method: :email, collection: User.all.order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: true  %>
  </div>

    <div class="col-12">
        <%= f.file_field :cachet %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
