<p style="color: green"><%= notice %></p>

<%= render @user_conf %>

<div>
  <%= link_to "Edit this user conf", edit_user_conf_path(@user_conf) %> |
  <%= link_to "Back to user confs", user_confs_path %>

  <%= button_to "Destroy this user conf", @user_conf, method: :delete %>
</div>
