<% provide(:title, 'furloughs-type') %>

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">gestion des type de congés</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Liste des type de congés</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 


        <div class="row">
            <div class="col-12">
                <div class="card-box">
                  <div class="bg-light d-flex justify-content-between mb-2">
                    <div class="text-sm-center form-inline">
                      <div class="form-group mr-2">
                        <%= link_to '#new_furlough_type', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_furlough_type'  do %>
                          <i class="mdi mdi-plus mr-1"> Nouveau Type de Congé</i>
                        <% end %>
                      </div>
                      <div class="form-group">
                        <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="text-sm-center form-inline">
                      <%= form_tag import_furlough_types_path, multipart: true do %>
                        <%= file_field_tag :file, required: true %>
                        <%= submit_tag 'Importer', class: "btn btn-success waves-effect waves-light" %>
                      <% end %>
                    </div>
                  </div>
                  <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                      <th data-sort-initial="true" data-toggle="true">Type de congé </th>
                      <th data-hide="phone, tablet">Code </th>
                      <th data-hide="phone, tablet">Durée maximale du congé </th>
                      <th data-hide="phone, tablet">Durée fixe </th>
                      <th data-hide="phone, tablet">Contraint (48H) </th>
                      <th data-hide="phone, tablet">Payer?</th>
                      <th data-hide="phone, tablet">Actif?</th>
                      <th data-hide="phone, tablet">Blockage aprés n jours?</th>
                      <th data-hide="phone, tablet">Discontinuté</th>
                      <th data-hide="phone, tablet">Période discontinuté</th>
                      <th data-hide="phone, tablet">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @furlough_types.each do |furlough_type| %>
                      <tr>
                        <td><%= furlough_type.name %></td>
                        <td><%= furlough_type.code %></td>
                        <td><%= furlough_type.max_duration %></td>
                        <td><%= furlough_type.fixed_duration %></td>
                        <td><%= furlough_type.informing_before %></td>
                        <td><%= furlough_type.is_payer %></td>
                        <td>
                          <% if furlough_type.is_actif == true %>
                            <div class="badge font-14 badge badge-success p-1">Actif</div></td>
                          <% else %>
                            <div class="badge font-14 badge badge-danger p-1">Inactif</div></td>
                          <% end %>
                          </td>
                          <td><%= furlough_type.nbr_days_block %></td>
                          <td><%= furlough_type.discontinuity %></td>
                          <td><%= furlough_type.discontinuity_period %></td>
                          <td>
                            <%= link_to furlough_type_path(furlough_type), remote: true, title: "Voir", class: "action-icon" do %>
                              <i class="mdi mdi-eye"></i>
                            <% end %>
                            <%= link_to edit_furlough_type_path(furlough_type), remote: true, title: "Modifier", class: "action-icon" do %>
                              <i class="mdi mdi-border-color"></i>
                            <% end %>
                            <% if furlough_type.is_actif == false %>
                              <%= link_to enable_furlough_type_path(furlough_type), data: { confirm: 'Etes vous sur?', title: 'Confirm action', commit: 'YES', cancel: 'NO' }, title: "Activer", class: "action-icon" do %>
                                <i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i>
                              <% end %>
                            <% else %>
                              <%= link_to disable_furlough_type_path(furlough_type), data: { confirm: 'Etes vous sur?', title: 'Confirm action', commit: 'YES', cancel: 'NO' }, title: "Désactiver", class: "action-icon" do %>
                                <i class="mdi mdi-close-octagon"></i>
                              <% end %>
                            <% end %>
                            <%= link_to furlough_type, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                              <i class="mdi mdi-delete"></i>
                            <% end %>
                          </td>
                          </tr>
                    <% end %>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                      <td colspan="12">
                        <div class="text-right">
                          <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                        </div>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>

    <div id='remote-container'></div>
</div> <!-- content -->

<!--  Modal content for the Large example -->
<div class="modal fade" id="new_furlough_type" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Définition d'un type congé</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(FurloughType.new, as: :furlough_type, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <%= f.input :name, label: 'Type de congé', placeholder: "Entrer le type de congé", class: 'form-control' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :code, label: 'Code de congé', placeholder: "Entrer le code de type de congé", class: 'form-control' %>
                    </div>
                    <div class="col-3">
                        <div class="form-group mb-3">
                            <%= f.input :max_duration, label: 'Durée max du congé', class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :fixed_duration, label: 'Durée fixe?', class: 'form-control' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :informing_before, label: 'Demande à soumettre 48H avant?', class: 'form-control' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :is_payer, label: 'Congé payer?', class: 'form-control' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :nbr_days_block, label: 'Nombre jours (blockage)?', class: 'form-control' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :discontinuity, label: 'Discontinuté?', input_html: { id: 'discontinuity', onchange:'yesnoCheck();'}, class: 'form-control' %>
                    </div>
                    <div class="col-3">
                        <div id="ifYes" class="form-group mb-3" style="display: none;">
                            <%= f.input :discontinuity_period, label: 'Période discontinuté', class: 'form-control' %>
                        </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

     function yesnoCheck(that) {
        if (document.getElementById("discontinuity").checked == 1) {
            document.getElementById("ifYes").style.display = "block";
        } else {
            document.getElementById("ifYes").style.display = "none";
        }
    }
</script>


