<% provide(:title, 'users') %>

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">gestion des collaborateurs</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Liste des collaborateurs</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="mb-2">
                        <div class="bg-light d-flex justify-content-between">
                            <div class="text-sm-center form-inline">
                                <div class="form-group mr-2">
                                    <%= link_to '#new_utilisateur', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_utilisateur'  do %>
                                        <i class="mdi mdi-plus mr-1"> Nouveau Collaborateur</i>
                                    <% end %>    
                                </div>
                                <div class="form-group mr-2">
                                    <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                </div> 
                            </div>
                            <div class="text-sm-center">  
                                <div class="btn-group dropleft">
                                    <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filtrer par roles
                                    </button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item" href="<%= users_path() %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-secondary"></i>Tous</a>
                                        <a class="dropdown-item" href="<%= users_path(type: 'Rh') %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-secondary"></i>Rh</a>
                                        <a class="dropdown-item" href="<%= users_path(type: 'Collaborateur') %>"><i class="mdi mdi-checkbox-blank-circle-outline mr-1 text-secondary"></i>Collaborateur</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size=<%= (@setting.number_items_of_page).to_s %>>
                        <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true">Nom complet</th>
                            <th>Poste</th>
                            <th data-hide="phone, tablet">Est Gestionnaire ?</th>
                            <th data-hide="phone, tablet">Role</th>
                            <th data-hide="phone, tablet">Statut</th>
                            
                            <th data-hide="phone, tablet">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <tr>                                         
                                    <td> <%= user.first_name %> <%= user.last_name %>
                                    </td>
                                    <td><%= user.job_title %></td>
                                    <td>
                                        <% user.manager_titles.each do |manager_title| %>
                                            <% if manager_title == "Gestionnaire fonctionnel" %>
                                                <span class="badge label-table badge-info"><%= manager_title %></span>
                                            <% else %>
                                                <span class="badge label-table badge-secondary"><%= manager_title %></span>
                                            <% end %>
                                                   
                                        <% end %>
                                    </td>
                                    <td><%= user.role.title %></td>
                                    <td><% if user.created? %>
                                            <div class="badge font-14 badge badge-info p-1">Nouveau</div>
                                        <% elsif user.actif? %> 
                                            <div class="badge font-14 badge badge-success p-1">Actif</div> 
                                        <% elsif user.suspended? %>
                                            <div class="badge font-14 badge badge-warning p-1">Suspendu</div>
                                        <% else %>
                                            <div class="badge font-14 badge badge-danger p-1">Désactivé</div>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if user.created? %>
                                            <%= link_to user_path(user), remote: true, title: "Voir", class: "action-icon" do %>
                                                <i class="mdi mdi-eye"></i>
                                            <% end %>
                                            <%= link_to edit_user_path(user), remote: true, title: "Modifier", class: "action-icon" do %>
                                                <i class="mdi mdi-border-color"></i>
                                            <% end %> 
                                            <%= link_to user, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                                                <i class="mdi mdi-delete"></i>
                                            <% end %> 
                                            
                                        <% else %>
            
                                                <%= link_to user_path(user), remote: true, title: "Voir", class: "action-icon" do %>
                                                <i class="mdi mdi-eye"></i>
                                            <% end %>
                                            <%= link_to edit_user_path(user), remote: true, title: "Modifier", class: "action-icon" do %>
                                                <i class="mdi mdi-border-color"></i>
                                            <% end %> 
                                            <% if user.actif? %>
                                                <%= link_to pre_disable_path(user), title: "Désactiver", class: "action-icon" do %>
                                                    <i class="mdi mdi-close-octagon"></i>
                                                <% end %> 
                                            <% elsif user.desabled? %>
                                                <%= link_to enable_path(user), data: { confirm: 'Etes vous sur?', title: 'Confirm action', commit: 'YES', cancel: 'NO' }, title: "Activer", class: "action-icon" do %>
                                                    <i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i>
                                                <% end %> 
                                            <% end %> 
                                        <% end %>
                                    </td>                                            
                                </tr> 
                            <% end %> 
                        </tbody>
                        <tfoot>
                            <tr class="active">
                                <td colspan="6">
                                    <div class="text-right">
                                        <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                    </div>
                                    <div class="text-left"> 
                                        <%= form_tag users_path, :method => 'get',  class: "form-inline" do %>
                                            <%= link_to 'Rapport des collaborateurs', users_path(type: "#{params[:type]}", format: :xlsx), class:"btn btn-warning waves-effect waves-light ml-1" %>
                                        <% end %>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div> <!-- content -->

<!--  Modal content for the Large example -->
<div class="modal fade" id="new_utilisateur" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Nouveau collaborateur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(User.new, as: :user, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <%= f.input :matricule, label: 'Matricule', class: 'form-control', placeholder: "Entrer le matricule" %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :first_name, label: 'Prénom', class: 'form-control', placeholder: "Entrer le prénom" %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :last_name, label: 'Nom', class: 'form-control', placeholder: "Entrer le nom" %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :email, label: 'Email professionnel', class: 'form-control', placeholder: "Email professionnel" %>
                    </div>
                     <div class="form-group mb-3">
                        <%= f.input :gender, as: :radio_buttons, label: 'Sexe', collection: [['0', 'Femme'], ['1', 'Homme']], label_method: :second, value_method: :first %>  
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :family_status, label: 'Situation familiale', collection: ["Celibataire", "Mariée", "Marié", "Autre.."], class: 'form-control' %>
                    </div>
                     <div class="form-group mb-3">
                        <%= f.input :job_title, label: 'Intitulé de poste', placeholder: "Intitulé de poste", class: 'form-control' %>
                    </div>   
                     <div class="form-group mb-3">
                        <%= f.input :started_at, label: "Date d'intégration", value: Date.today, as: :date, html5: true, hint: "Garder d'être sur de la date d'intégration", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                        <p><strong>Photo </strong></p>
                        <%= f.file_field :avatar, label: 'Photo' %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :personnal_email, label: 'Email personnel', class: 'form-control', placeholder: "email personnel" %>
                    </div>
                    <div class="form-group mb-3">
                        <%= f.input :phone_number, label: 'Téléphone', placeholder: "Téléphone", class: 'form-control' %>
                    </div>    
                    <div class="form-group mb-3">
                        <%= f.input :home_adress, label: 'Adresse', placeholder: "Adresse", class: 'form-control' %>
                    </div>       
                    <div class="form-group mb-3">
                        <label>Résponsabilité</label> <br>
                        <% User::MANAGERS.each do |key| %>
                            <%= f.check_box :manager_titles, { multiple: true }, key, nil %>
                            <%= f.label key %>
                        <% end %>
                    </div> 

                    
                    <label>Géstionnaires associés :</label>
                        
                    
                    <div class="card-box", style= "background-color: LightBlue ; !important">
                            <div class="form-group mb-3">
                                <%= f.input :line_manager_id, label: "Gestionnaire hiérarchique", input_html: { id: 'line_managers', :style => "display:none;" } %>
                                <select data-toggle="select2" onchange='set_user_line_manager();'>
                                    <option></option>
                                    <optgroup label="Gestionnaire hiérarchque">
                                    <% if @line_managers %>
                                        <%= @line_managers.each do |user| %>
                                            <option><%= user.first_name %> <%= user.last_name %></option>
                                        <% end %>
                                    <% end %>
                                    </optgroup>
                                </select>
                            </div>
                            
                            <div class="form-group mb-3">
                                <%= f.input :fonctionnal_manager_id, label: "Gestionnaire fonctionnel", input_html: { id: 'fonctional_managers', :style => "display:none;" } %>
                                <select class="form-control select2-multiple" data-toggle="select2" multiple="multiple" onchange='set_user_fonctionnal_manager();'>
                                    <optgroup label="Gestionnaire fonctionnel">
                                    <% if @fonctional_managers %>
                                        <%= @fonctional_managers.each do |user| %>
                                            <option><%= user.first_name %> <%= user.last_name %></option>
                                        <% end %>  
                                    <% end %>         
                                    </optgroup>
                                </select>
                            </div> 
                         
                    </div>            

                    <div class="form-group mb-3">
                        <% if current_user.role.title == "Super Admin" %>
                          <%= f.association :role, label: 'Role', label_method: :title, collection: Role.all.order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: false %>
                        <% else current_user.role.title == "Rh" %>
                          <%= f.association :role, label: 'Role', label_method: :title, collection: Role.where.not(title: "Super Admin").order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: false %>
                        <% end %>
                    </div>       
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='remote-container'></div>

<script>

    function set_user_line_manager(){

        var user_name = document.getElementsByClassName("select2-selection select2-selection--single")[0].innerText;

        console.log(user_name);

        var url = '<%= domainename + 'findlinemanagerid/' %>';
        $.when(
            $.getJSON(url+user_name)
        ).done( function(json) {

            $('#line_managers').val(json);
                
        }); 

    }

    function set_user_fonctionnal_manager(){

        var user_name = document.getElementsByClassName("select2-selection select2-selection--multiple")[0].innerText;

        if (user_name == ""){

            $('#fonctional_managers').val("");
        }else{
           var url = '<%= domainename + 'findfonctionalmanagerid/' %>';
            $.when(
                $.getJSON(url+user_name.slice(1))
            ).done( function(json) {

                $('#fonctional_managers').val(json);
                    
            });     
        }
    }
</script>
