<% provide(:title, 'login') %>

 <div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <a href="<%= root_path %>" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <%= image_tag 'logo.png', height: "70", alt: "Super Admin" %>
                                    </span>
                                </a>
            
                                <a href="<%= root_path %>" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <%= image_tag 'logo.png', height: "70", alt: "Super Admin" %>
                                    </span>
                                </a>
                            </div>
                            <p class="text-muted mb-4 mt-3">Entrez votre adresse email pour renouveler votre mot de passe.</p>
                        </div>
                        
                        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
                          <%= f.error_notification %>

                            <div class="form-group">
                              <%= f.input :email, label: false, required: true, autofocus: true,
                                input_html: { autocomplete: "email", class: 'form-control underline-input', placeholder: 'Entez Votre Email' } %>
                            </div>
                            <br>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Confirmer </button>
                            </div>

                        <% end %>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                      <%= render 'devise/shared/links' %>
                    </div> <!-- end col -->
                    <div class="col-12 text-center mt-2 text-white">
                        2022 - <script>document.write(new Date().getFullYear())</script> &copy; Developpé par <a href="#" target="_blank" class="text-white"> Super Admin Numérique Maroc</a> 
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
