<div id="<%= dom_id template_attestation %>">
  <p>
    <strong>Name:</strong>
    <%= template_attestation.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= template_attestation.code %>
  </p>

  <p>
    <strong>Paragraphe 1:</strong>
    <%= template_attestation.paragraphe_1 %>
  </p>

  <p>
    <strong>Paragraphe 2:</strong>
    <%= template_attestation.paragraphe_2 %>
  </p>

  <p>
    <strong>Paragraphe 3:</strong>
    <%= template_attestation.paragraphe_3 %>
  </p>

  <p>
    <strong>Footer:</strong>
    <%= template_attestation.footer %>
  </p>

</div>
