<!-- Modal -->
<div class="modal fade" id="edit_ground" role="dialog">
    <%= simple_form_for @ground do |f| %>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <%= f.input :code, label: 'Code', placeholder: "Entrer le code de motif", class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.input :description, label: 'Description', placeholder: "Entrer la description", class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.association :stop_action, label: 'Action', label_method: :name, collection: StopAction.all.order(created_at: :asc), value_method: :id, class: 'form-control', include_blank: false %> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, 'Valider', class: 'btn btn-raised btn-success' %>
                <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
      </div>
    <% end %>
</div>