
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
          <h4 class="page-title">Gestion des affectations des Frais</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">

              <div class="col-lg-8">
              </div>

              <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                <div class="col-lg-4 d-flex justify-content-end">
                  <%= link_to '#new_affectation', class: "btn btn-secondary waves-effect waves-light mr-3", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_affectation'  do %>
                    <i class="mdi mdi-plus mr-1"> Nouveau</i>
                  <% end %>

                  <%= form_tag furloughs_path, :method => 'get',  class: "form-inline" do %>
                    <div class="form-group">
                      <%= link_to 'Exporter', affectations_path( format: :xlsx), class:"btn btn-warning waves-effect waves-light ml-1" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="row mb-3">
              <div class="table-responsive">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-pagination="true"
                       data-buttons-class="xs btn-light"
                       class="table-borderless"
                       data-page-size=<%= (@setting.number_items_of_page).to_s %>
                >
                  <thead class="thead-light">
                  <tr>
                    <th data-fied="user_id">collaborateur</th>
                    <th data-field="project_id">Project</th>
                    <th class="action">Actions</th>
                  </tr>

                  </thead>
                  <tbody>
                  <% @affectations.each do |affectation| %>
                    <tr>

                      <td>
                        <%= affectation.user.first_name %>
                        <%= affectation.user.last_name %>
                      </td>

                      <td>
                        <%= affectation.project.name %>
                      </td>

                      <td class="action">
                        <%= link_to affectation_path(affectation), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-eye"></i>
                        <% end %>

                        <%= link_to  edit_affectation_path(affectation), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-border-color"></i>
                        <% end %>

                        <%= link_to affectation, method: :delete, data: { confirm: 'Etes vous sur?', title: 'Confirme la suppression?' }, title: "Suprimer", class: "action-icon" do %>
                          <i class="mdi mdi-delete"></i>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='remote-container'></div>
  </div>
</div><!-- /.modal -->



<div class="modal fade" id="new_affectation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Ajout des affectations des Categories</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <%= simple_form_for(Affectation.new, as: :affectation, method: :post, html: { class: "form-horizontal" }) do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
            <div class="form-group mb-3">
              <%= f.input :user_id, label: "Collaborateurs", input_html: { id: 'user', :style => "display:none;" } %>
              <select data-toggle="select2" onchange='set_user_id();'>
                <option></option>
                <optgroup label="Collaborateurs">
                  <%= @users.each do |user| %>
                    <option><%= user.first_name %> <%= user.last_name %></option>
                  <% end %>
                </optgroup>
              </select>
            </div>
          <% end %>

          <div class="form-group mb-3">
            <%= f.input :project_id, label: "Les Projects", input_html: { id: 'project', :style => "display:none;" } %>
            <select class="form-control select2-multiple" data-toggle="select2" multiple="multiple" onchange='set_project_id();'>
              <optgroup label="Gestionnaire fonctionnel">
                <% if @project %>
                  <%= @project.each do |project| %>
                    <option><%= project.name %></option>
                  <% end %>
                <% end %>
              </optgroup>
            </select>
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-between">
          <div>
            <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
          </div>
          <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
        </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div><!-- /.modal -->

<script>
    function set_user_id(){

        var user_email = document.getElementsByClassName("select2")[0].innerText;

        console.log(user_email);

        var url = '<%= domainename + 'finduserid/' %>';
        $.when(
          $.getJSON(url+user_email)
        ).done( function(json) {

            $('#user').val(json);

        });

    }

    function set_project_id() {
        var project = document.getElementsByClassName("select2-selection select2-selection--multiple")[0].innerText.slice(1);
        console.log(project);

        if(cost == "") {
            $('#cost').val("");
        }
        else {
            var url = '<%= domainename + 'findprojectid/' %>';
            $.when(
              $.getJSON(url+project)
            ).done( function(json) {

                $('#cost').val(json);

            });
        }
    }

</script>