
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
          <h4 class="page-title">Mes affectations</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">

              <div class="col-lg-8">
              </div>

              <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                <div class="col-lg-4 d-flex justify-content-end">
                  <%= link_to '#new_affectation', class: "btn btn-secondary waves-effect waves-light mr-3", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_affectation'  do %>
                    <i class="mdi mdi-plus mr-1"> Nouveau</i>
                  <% end %>

                  <% if  params.has_key?(:status)%>
                    <a class="btn btn-info" href="<%= mes_affectations_path %>"> <i class="mdi mdi-filter mr-1"></i> Affectations</a>
                  <% else %>
                    <a class="btn btn-info" href="<%= mes_affectations_path(status: 'disaffected') %>"> <i class="mdi mdi-filter mr-1"></i>Desaffectations</a>
                  <% end %>

                  <%= form_tag affectations_path, :method => 'get',  class: "form-inline mr-3" do %>
                    <% if @affectations.count > 0 %>
                      <div class="form-group">
                        <%= link_to 'Exporter', affectations_path( format: :xlsx), class:"btn btn-warning waves-effect waves-light ml-1" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="row mb-3">
              <div class="table-responsive">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-pagination="true"
                       data-buttons-class="xs btn-light"
                       class="table-borderless"
                       data-page-size=<%= (@setting.number_items_of_page).to_s %>
                >
                  <thead class="thead-light">
                  <tr>
                    <th data-field="project_id">Project</th>
                    <th data-field="comments">Commentaires</th>
                    <th data-field="date_affectation">Date d'affectation</th>
                    <th class="action">Actions</th>
                  </tr>

                  </thead>
                  <tbody>
                  <% @affectations.each do |affectation| %>
                    <tr>
                      <td>
                        <% if affectation.project %>
                          <%= affectation.project.name %>
                        <% end %>
                      </td>

                      <td>
                        <% if affectation.comments %>
                          <%= affectation.comments %>
                          <% else %>
                            Nan
                        <% end %>
                      </td>

                      <td>
                        <%= affectation.date_affectation %>
                      </td>

                      <td class="action">
                        <%= link_to affectation_path(affectation), remote: true, class: "action-icon" do %>
                          <i class="mdi mdi-eye"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='remote-container'></div>
  </div>
</div>