<p style="color: green"><%= notice %></p>

<%= render @affectation %>

<div>
  <%= link_to "Edit this affectation", edit_affectation_path(@affectation) %> |
  <%= link_to "Back to affectations", affectations_path %>

  <%= button_to "Destroy this affectation", @affectation, method: :delete %>
</div>
