<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= project.is_active %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Unit afaire:</strong>
    <%= project.unit_affaire %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client %>
  </p>


</div>
