<div class="modal fade" id="show_project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content py-2">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Afficher les détails du projet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
        <div class="modal-body mx-3">
          <div class="row border py-2 px-1">
            <div class="col-sm">
              <span class="font-weight-bolder d-block my-1"> Nom: </span>
              <span class="font-weight-bolder d-block my-1"> Description: </span>
              <span class="font-weight-bolder d-block my-1"> Client: </span>
              <span class="font-weight-bolder d-block my-1"> Chifre d affaire: </span>
              <span class="font-weight-bolder d-block my-1"> Status: </span>
              <span class="font-weight-bolder d-block my-1"> Project Type: </span>
            </div>
            <div class="col-sm">
              <div class="w-100 my-1 text-capitalize"><%= @project.name %></div>
              <div class="w-100 my-1 text-capitalize"><%= @project.description %></div>
              <div class="w-100 my-1 text-capitalize"><%= @project.client %></div>
              <div class="w-100 my-1 text-capitalize"><%= @project.unit_affaire %> Dh</div>
              <% if @project.is_active %>
                <span class="badge badge-success">Actif</span>
              <% else %>
                <span class="badge badge-dark">Désactiver</span>
              <% end %>
              <div class="w-100 my-1 text-capitalize"><%= @project.project_type %></div>
            </div>
          </div>
         <% if @project.is_active %>
            <div class="text-center w-100 font-weight-bolder mt-2"> Collaborateurs Concernés</div>
            <div class="row border py-2 px-2 mt-2">
              <% if @affectations.count > 0 %>
                <div class="row w-100">
                  <% @affectations.each do |affectation| %>
                    <% if affectation.status == "affected" && affectation.is_active == true %>
                      <div class="col-4">
                        <span class="font-weight-bolder"> Nom et Prénom: </span>
                      </div>
                      <div class="col-4">
                        <span><%= affectation.user.first_name %>  <%= affectation.user.last_name %></span>
                      </div>
                      <div class="col-4 d-flex justify-content-end">
                        <%= link_to project_disaffectation_path(affectation.user.id, @project.id), class: "action-icon" do %>
                          <i class="mdi mdi-sync-off"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <div class="w-100 my-1 text-center font-weight-bold text-warning">
                  Ce projet n'est affecté à aucun collaborateur
                  <i class="mdi mdi-exclamation-thick"></i>
                </div>
              <% end %>
            </div>
         <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
