<% provide(:title, 'proejcts') %>

<div class="content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
              <li class="breadcrumb-item active">Actions</li>
            </ol>
          </div>
            <h4 class="page-title">Liste des Project</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <div class="bg-light d-flex justify-content-between mb-2">
            <div class="text-sm-center form-inline">
              <% if ['Super Admin', 'Rh'].include? current_user.role.title %>
                 <div class="form-group mr-2">
                    <%= link_to '#new_project', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_project'  do %>
                      <i class="mdi mdi-plus mr-1"> Nouveau</i>
                    <% end %>
                  </div>
                 <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                 </div>
              <% end %>
              </div>
          <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
            <thead>
            <tr>
              <th data-sort-initial="true" data-toggle="true">Project Reference</th>
              <th data-hide="phone, tablet">Nom</th>
              <th data-hide="phone, tablet">Description</th>
              <th data-hide="phone, tablet">Chiffre d affaire</th>
              <th data-hide="phone, tablet">Client</th>
              <th data-hide="phone, tablet">Status</th>
              <th data-hide="phone, tablet">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td>
                  <%= project.reference.upcase %>
                </td>
                <td> <%= project.name %> </td>
                <td>
                  <% if project.description %>
                    <%= project.description %>
                  <% else %>
                    NaN
                  <% end %>
                </td>
                <td>
                  <% if project.unit_affaire %>
                    <%= project.unit_affaire %>  Dh
                  <% else %>
                    NaN
                  <% end %>
                </td>
                <td>
                  <% if project.client %>
                    <%= project.client %>
                  <% else %>
                    NaN
                  <% end %>
                </td>
                <td>
                  <% if project.is_active %>
                    <span class="badge badge-success">Actif</span>
                  <% else %>
                    <span class="badge badge-dark">Désactiver</span>
                  <% end %>
                </td>
                <td class="action">
                  <%= link_to project_path(project), remote: true, class: "action-icon" do %>
                    <i class="mdi mdi-eye"></i>
                  <% end %>

                  <%= link_to  edit_project_path(project), remote: true, class: "action-icon" do %>
                    <i class="mdi mdi-border-color"></i>
                  <% end %>

                  <% if project.status != 'deleted' %>
                    <%= link_to delete_project_path(project.id), data: { confirm: 'Etes vous sur?', title: 'Confirme la suppression?' }, title: "Archiver", class: "action-icon" do %>
                      <i class="mdi mdi-archive-arrow-down"></i>
                    <% end %>
                  <% else %>
                    <%= link_to unarchive_project_path(project.id), data: { confirm: 'Etes vous sur?', title: 'Confirme la désarchivage?' }, title: "Désarchiver", class: "action-icon" do %>
                      <i class="mdi mdi-archive-arrow-up"></i>
                    <% end %>
                  <% end %>

                  <% if project.status != "deleted" %>
                    <% if project.is_active == true %>
                      <%= link_to disable_project_path(project), data: { confirm: 'Etes vous sur de disativer?', title: 'Confirme le changement du status?' }, title: "changement du status", class: "action-icon" do %>
                        <i class="mdi mdi-lock"></i>
                      <% end %>
                    <% else %>
                      <%= link_to enable_project_path(project), data: { confirm: 'Etes vous sur d activer?', title: 'Confirme le changement du status?' }, title: "changement du status", class: "action-icon" do %>
                        <i class="mdi mdi-lock-open"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr class="active">
              <td colspan="8">
                <div class="text-right">
                  <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                </div>
                <%= form_tag projects_path, :method => 'get',  class: "form-inline" do %>
                  <% if @projects.count > 0 %>
                    <div class="form-group">
                      <%= link_to 'Expoter', projects_path( format: :xlsx), class:"btn btn-warning waves-effect waves-light ml-1" %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div id='remote-container'></div>
  </div>


  <div class="modal fade" id="new_project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Ajout des projects</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <%= simple_form_for(Project.new, as: :project, method: :post, html: { class: "form-horizontal" }) do |f| %>
          <div class="modal-body">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-group">
              <%= f.input :name, label: 'Name', placeholder: "Entrer le nom", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, label: 'Description', placeholder: "Description", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.input :unit_affaire, label: 'Unit Affaire', placeholder: "Entrer l'unit affaire", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.input :client, label: 'client', placeholder: "Entrer le Client", class: 'form-control' %>
            </div>


          </div>

          <div class="modal-footer d-flex justify-content-between">
            <div>
              <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
            </div>
            <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
          </div>

        <% end %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->

