<!--  Modal content for the Large example -->
<div class="modal fade" id="edit_intern" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Modification du stagiaire</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(@intern) do |f| %>
                
               <div class="modal-body">
                    <div class="form-group mb-3">
                      <%= f.input :first_name, label: "Prénom", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :last_name, label: "Nom", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :college_year, label: "Année univesitaire", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :gsm, label: "Gsm", class: 'form-control' %>
                    </div> 
                    <div class="form-group mb-3">
                      <%= f.input :past_interview, label: "Entretien passé", as: :boolean, class: 'form-control' %>
                    </div>      
                     <div class="form-group mb-3">
                      <%= f.input :is_passable, label: "Bon profile?", as: :boolean, class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%#= f.input :opinion, label: "Avis", class: 'form-control' %>
                    </div> 
                    <div class="form-group mb-3">
                      <%= f.input :potential_internship, label: "Stage potentiel", class: 'form-control' %>
                    </div> 
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, 'Modifier', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


