<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">Stagiaires</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Liste des stagiaires</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="mb-2">
                        <div class="row">
                            <div class="col-12 text-sm-center form-inline">
                                <div class="form-group mr-2">
                                    <%= link_to '#new_intern', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_intern'  do %>
                                        <i class="mdi mdi-plus mr-1"> Nouveau stagiaire</i>
                                    <% end %>  
                                </div>
                                <div class="form-group">
                                    <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                        <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true">Nom</th>
                            <th>Prénom</th>
                            <th data-hide="phone, tablet">Année universitaire</th>
                            <th data-hide="phone, tablet">gsm</th>
                            <th data-hide="phone, tablet">Entretien passé</th>
                            <th data-hide="phone, tablet">Compétences Techniques</th>
                            <th data-hide="phone, tablet">Compétences Linguistiques</th>
                            
                            <th data-hide="phone, tablet">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @interns.each do |intern| %>
                                <tr>
                                    <td><%= intern.last_name %></td>
                                    <td><%= intern.first_name %></td>
                                    <td><%= intern.college_year %></td>
                                    <td><%= intern.gsm %></td>
                                    <% if intern.past_interview == true %>
                                        <td><span class="badge label-table badge-success">Entretien passé</span></td>
                                    <% else %>
                                        <td><span class="badge label-table badge-danger">Pas encore</span></td>
                                    <% end %>
                                    <td>
                                        <% intern.technical_skills.each do |skill| %>
                                            <span class="badge label-table badge-warning"><%= skill %></span>
                                            <br>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% intern.language_skills.each do |language| %>
                                            <span class="badge label-table badge-danger"><%= language %></span>
                                            <br>
                                        <% end %>
                                    </td>
                                    <td>
                                        <%= link_to intern_path(intern), remote: true, title: "Voir", class: "action-icon" do %>
                                            <i class="mdi mdi-eye"></i>
                                        <% end %> 
                                        <%= link_to edit_intern_path(intern), remote: true, title: "Modifier", class: "action-icon" do %>
                                            <i class="mdi mdi-border-color"></i>
                                        <% end %> 
                                        <%= link_to intern, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                                            <i class="mdi mdi-delete"></i>
                                        <% end %> 
                                     </td>           
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                        <tr class="active">
                            <td colspan="6">
                                <div class="text-right">
                                    <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div> <!-- content -->

<!--  Modal content for the Large example -->
<div class="modal fade" id="new_intern" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Nouveau Stagiaire</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(Intern.new, as: :intern, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">
                    <div class="form-group mb-3">
                      <%= f.input :matricule, label: "Matricule", required: true, hint: "Le matricule doit être renseignè", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :first_name, label: "Prénom", required: true, hint: "Le prénom doit être renseignè", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :last_name, label: "Nom", required: true, hint: "Le nom doit être renseignè", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :email, label: "Email", required: true, hint: "L'eamil doit être renseignè", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :gsm, label: "Gsm", required: true, hint: "Le téléphone doit être renseignè", class: 'form-control' %>
                    </div> 
                    <div class="form-group mb-3">
                      <%= f.input :college_year, label: "Année univesitaire", required: true, hint: "L'année univesitaire doit être renseignè", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                        <label>Compétences Techniques</label>
                        <input type="text" id="selectize-tags" name="technical_skills" value="" tabindex="-1" class="selectized" style="display: none;">
                    </div>
                    <div class="form-group mb-3">
                        <label>Compétences Linguistiques</label> <br>
                        <% Intern::LANGUAGES.each do |key| %>
                            <%= f.check_box :language_skills, { multiple: true }, key, nil %>
                            <%= f.label key %>
                        <% end %>
                    </div> 
                    <div class="form-group mb-3">
                      <%= f.input :past_interview, label: "Entretien passé", as: :boolean, class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :opinion_interview, label: "Avis entretien", class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :is_passable, label: "Bon profile?", as: :boolean, class: 'form-control' %>
                    </div>  
                    <div class="form-group mb-3">
                      <%= f.input :opinion_internship, label: "Avis Stage", class: 'form-control' %>
                    </div> 
                    <div class="form-group mb-3">
                      <%= f.input :potential_internship, label: "Stage potentiel", class: 'form-control' %>
                    </div> 
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='remote-container'></div>



