<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="<%= root_path %>">Accueil</a></li>
                            <li class="breadcrumb-item active">Types de formations</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Liste des demandes de formation</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="mb-2">
                        <div class="bg-light d-flex justify-content-between">
                            <div class="text-sm-center form-inline">
                                <div class="form-group mr-2">
                                    <%= link_to '#new_formation', class: "btn btn-primary", :id => 'login', "data-toggle" => "modal", 'data-target' => '#new_formation'  do %>
                                        <i class="mdi mdi-plus mr-1">Nouvelle demande de formation</i>
                                    <% end %>  
                                </div>
                                <div class="form-group">
                                    <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                        <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true">Nom</th>
                            <th>Prénom</th>
                            <th data-hide="phone, tablet">Type formation</th>
                            <th data-hide="phone, tablet">formation</th>
                            <th data-hide="phone, tablet">Heures</th>
                            <th data-hide="phone, tablet">date début</th>
                            <th data-hide="phone, tablet">date fin</th>
                            <th data-hide="phone, tablet">Statut</th>

                            
                            <th data-hide="phone, tablet">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @formations.each do |formation| %>
                                <tr>
                                    <td><%= formation.user.last_name %></td>
                                    <td><%= formation.user.first_name %></td>
                                    <td><%= formation.formation_type.description %></td>
                                    <td><%= formation.description %></td>
                                    <td><%= formation.total_hour %></td>       
                                    <td><%= formation.start_date %></td> 
                                    <td><%= formation.end_date %></td> 
                                    <% if formation.is_done == true %>
                                        <td><span class="badge label-table badge-success">Terminé</span></td>
                                    <% else %>
                                        <td><span class="badge label-table badge-danger">Pas encore</span></td>
                                    <% end %>
                                    <td>
                                        <%= link_to formation_path(formation), remote: true, title: "Voir", class: "action-icon" do %>
                                            <i class="mdi mdi-eye"></i>
                                        <% end %> 
                                        <%= link_to edit_formation_path(formation), remote: true, title: "Modifier", class: "action-icon" do %>
                                            <i class="mdi mdi-border-color"></i>
                                        <% end %> 
                                        <%= link_to formation, method: :delete, data: { confirm: 'Etes vous sur?' }, title: "Suprimer", class: "action-icon" do %>
                                            <i class="mdi mdi-delete"></i>
                                        <% end %> 
                                    </td>           
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                        <tr class="active">
                            <td colspan="6">
                                <div class="text-right">
                                    <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div> <!-- content -->

<!--  Modal content for the Large example -->
<div class="modal fade" id="new_formation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Nouvelle demande de formation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <%= simple_form_for(Formation.new, as: :formation, method: :post, html: { class: "form-horizontal" }) do |f| %>
                
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <%= f.association :user, label: "Collaborateur", label_method: :email, collection: User.where.not(role_id: 1).order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: false %>
                    </div>

                    <div class="form-group mb-3">
                      <%= f.association :formation_type, label: "Type d'attestation", label_method: :description, collection: FormationType.all.order(created_at: :desc), value_method: :id, class: 'form-control', include_blank: false %>
                    </div>  

                    <div class="form-group mb-3">
                      <%= f.input :description, label: "Formation", class: 'form-control' %>
                    </div>  

                    <div class="form-group mb-3">
                      <%= f.input :total_hour, label: "Total heures de formation", class: 'form-control' %>
                    </div>   

                    <div class="form-group mb-3">
                      <%= f.input :start_date, label: "Date de début de formation", value: DateTime.strptime("1448607600",'%s'), as: :date ,html5: true, class: 'form-control' %>
                    </div> 

                    <div class="form-group mb-3">
                      <%= f.input :end_date, label: "Date de fin de formation", value: DateTime.strptime("1448607600",'%s'), as: :date ,html5: true, class: 'form-control' %>
                    </div>    
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, 'Ajouter', class: 'btn btn-raised btn-success' %>
                    <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Annuler</button>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='remote-container'></div>


